
	body {
	  display: flex;
	  flex-direction: column;
	  font-family: 'Jura', sans-serif;
	  background-color: #FFF;
	}

	h5 {
	  font-size: 14px;
	  color: #333;
	  text-align: center;
	  display: block;
	  margin-block-start: 0;
	  margin-block-end: 0;
	}

	p {
	  margin-block-start: 0;
	  margin-block-end: 0;
	  margin-inline-start: 0px;
	  margin-inline-end: 0px;
	}

	a {
	  text-decoration: none;
	  color: #5aa760;
	  cursor: pointer;
	}

	input {
	  font-size: 13.5px;
	  padding: 12px;
	  border: 1px solid #ccc;
	  width: 100%;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  margin-left: auto;
	  margin-right: auto;
	  outline: none;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	input:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
	}

	input:-webkit-autofill {
	  background-color: #F2F2F2 !important;
	}

	input:-internal-autofill-selected {
	  background-color: rgb(232, 240, 254) !important;
	}

	input.text {
	  font-size: 15px;
	  padding: 15px;
	  padding-inline-start: 52px;
	  border: 0;
	  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
	  -moz-context-properties: fill;
	  fill: var(--newtab-search-icon-color);
	  border-radius: 3px;
	  width: 100%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  box-sizing: padding-box;
	  word-break: break-word;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
	  outline: none;
	  resize: none;
	  background-color: transparent;

	}

	input.text {
	background: url("https://kiota.me/img/iota.svg") no-repeat left;
	background-size: auto;
	float: right;
	background-position-x: 10px;
	}

	input:-webkit-autofill {
	  background-color: #F2F2F2 !important;
	}

	input:-internal-autofill-selected {
	  background-color: rgb(232, 240, 254) !important;
	}

	.content {
	  flex: 1 0;
	}

	.footer {
	position: fixed;
	bottom: 0;
	padding: 20px;
	text-align: center;
	width: 100%;
	}

	.warn {
		color: red;
		text-align: center;
		display: block;
		padding-top: 30px;
	}

	.tooltip-helper-active-description {
	  background-color: #FFF;
	  position: absolute;
	  font-size: 15px;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  height: max-content;
	  max-width: 500px;
	  z-index: 9998;
	  transition-property: transform;
	  will-change: transform;
	  transform: translateX(0px) translateY(0px);
	  transition-duration: 150ms;
	  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.tooltip-helper-active-description p {
	  color: #333;
	  overflow-y: auto;
	  height: 75%;
	  padding: 10px;
	  margin: 0 !important;
	}

	.tooltip-helper-next-sequence,
	.tooltip-helper-prev-sequence {
	  background-color: rgb(22, 121, 251);
	  border: none;
	  border-radius: 2px;
	  outline: none;
	  padding: 3px 10px;
	  margin: 3px;
	  color: #fff;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 25px;
	}

	.submitbtn {
	  background-color: #f8f9fa;
	  border:1px solid #f8f9fa;
	  border-radius: 5px;
	  color: #555;
	  width: 33%;
	  cursor: pointer;
	  margin: 10px;
	}

	.buttons_main {
		padding-top: 80px;
		text-align: center;
	}
	.buttons {
		padding-top: 80px;
		display: flex;
		margin: auto;
		width: 100%;
	}

	.tagbutton {
	  float: right;
	  
	}

	#copybtn {
	  display: none;
	  background-color: #f8f9fa;
	  border:1px solid #f8f9fa;
	  border-radius: 5px;
	  color: #555;
	  width: 33%;
	  cursor: pointer;
	  text-align: center;
	}

	#copybtnaddress {
 	 display: none;
	 margin: 30px auto;
	 width: 33%;
	 margin: auto;
	}

	#backhome {
 	 display: none;
	 margin: 30px auto;
	 width: 33%;
	 margin: auto;
	}

	#addressplaceholder {
	  display: none;
	}

	.info {
	  width: 100%;
	  -ms-display: flexbox;
	  display: flex;
	  flex-wrap: wrap;
	  margin-top: 30px;
	  border: solid 1px #ccc;
	  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
      -webkit-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
      -moz-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
      -o-transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
	}

	.info>span {
	  width: 100%;
	  padding: 30px;
	  height: auto;
	  flex-wrap: wrap;
	  padding-top: 20px;
	  margin-left: auto;
	  margin-right: auto;
	}

	.infotitle {
	  text-align: center; 
	  margin: 60px 0 -20px 0;
	  color: #555;
	}

	#qrcode {
	  display: none;
	}

	#deeplink {
	  display: none;
	}

	.deeplink {
	  display: block;
	  font-family: monospace;
	  max-width: 172px;
	  min-width: 172px;
	  word-break: break-all;
	  font-size: 14px;
	  text-align: center;
	  letter-spacing: 8px;
	  margin-right: auto;
	  margin-left: auto;
	  margin-top: -4px;
	  box-sizing: content-box;
	}

	.deeplinktitle {
	  font-family: 'Jura', sans-serif;
	  letter-spacing: 0px;
	}

	#blockright {
	  max-width: 172px;
	  display: none;
	}

	#QR {
	  width: auto;
	  margin-right: auto;
	}

	#urldata {
	  display: none;
	}

	.urldata {
	  font-size: 16px;
	  display: block;
	  text-align: center;
	  padding: 10px;
	}

	.main {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 700px !important;
	  padding-top: 300px !important;
	}

	.show {
	  display: block;
	}

	.hide {
	  display: none;
	}

	.logoarea {
	  padding-bottom: 40px;
	}

	.logo {
	  font-family: 'Jura', sans-serif;
	  font-size: 64px;
	  color: #333;
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	}

	.logo>a {
	  text-decoration: none;
	  color: #333;
	}

	.autoExpand {
		display: block;
	}

	@media only screen and (max-width: 600px) {
	  body {
	    position: relative;
		height: max-content;
		top: -150px;
	  }
	  .submitbtn {
		background-color: #f8f9fa;
		border: 1px solid #f8f9fa;
		border-radius: 5px;
		color: #555;
		width: 40%;
		cursor: pointer;
		margin: 10px;
	  }
	  .footer {
		position: fixed;
		bottom: 0;
		padding: 20px;
		text-align: center;
		width: 100%;
		font-size: 13px;
	  }
	}